<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Instagram Post</h1>
        <h3><%=post.username%></h3>
        <img src="<%=post.image%>">
        <p><span><%=post.username%></span><%=post.caption%></p>
        <h2><%=post.id%></h2>
        <a href="http://localhost:8080/instapost">Back to home</a>
    </div>
</body>
</html>